#details-service mat-icon{
  vertical-align: middle;
}
.columnDetail{
  width:46%;
  margin: 0 2% 0 2%;
  display: inline-block;
}
#back:hover{
  cursor:pointer;
}
#service-details .section{
  background-color: #f7f4f4;
}
