<!-- Left side topbar -->
<!--mat-toolbar color="primary" class="chat-sidebar-toolbar">
  <a class="toolbar-avatar online">
    <img [src]="userInfo.picture" alt="">
  </a>
  <h6 class="m-0 pl-1 font-normal fz-1">{{userInfo.name}}</h6>
</mat-toolbar>
<div [perfectScrollbar] class="chat-sidebar-scroll"-->
  <!-- Left side contact list -->
  <!--Chats activos: {{chats.length}}
  <mat-nav-list class="inbox-nav-list" role="list">
    <mat-list-item *ngFor="let chat of chats" (click)="getChatByContact(chat.id)">
      <a mat-list-avatar class="'toolbar-avatar">
        <img [src]="chat.worker_picture" style="border-radius:50%">
      </a>
      <h6 matLine>{{chat.worker_name}}</h6>
    </mat-list-item>
    
  </mat-nav-list>
</div-->
