<mat-card id="solicitudes">
    <mat-card-title>
        <h1 style="display:inline-block"><strong>Solicitudes</strong></h1>
        <mat-checkbox style="display:inline-block" [formControl]="checkAcceptMore" style="float:right" (change)="changeAcceptMore($event.checked)" > &nbsp;&nbsp;Acepta más servicios</mat-checkbox>
    </mat-card-title>
    <hr>
    <mat-card-content>
        <small style="opacity:70%">
            <mat-icon style="vertical-align: middle; font-size:large; text-align: center"> local_hospital</mat-icon>Hospital  /
            <mat-icon style="vertical-align: middle; font-size:large; text-align: center">home</mat-icon>Domicilio adulto  /
            <mat-icon style="vertical-align: middle; font-size:large; text-align: center">face</mat-icon>Domicilio infantil
        </small>
        <div *ngIf="lenListServices>0">
            <mat-card *ngFor="let element of listServices" class="solicitudes" (dblclick)="viewDetails(element.id)">
                <mat-card-content style="width:100%">
                    <mat-icon style="width:10%"  class="columnSolicitud" *ngIf="element.type=='hospital'">local_hospital</mat-icon>
                    <mat-icon style="width:10%"  class="columnSolicitud" *ngIf="element.type=='domicilio'">home</mat-icon>
                    <mat-icon style="width:10%"  class="columnSolicitud"*ngIf="element.type=='infantil'">face</mat-icon>
                    <small style="width:21%" class="columnSolicitud"><mat-icon style="color:grey; vertical-align: middle;">today</mat-icon>  {{element.start_date}} - {{element.end_date}}</small>
                    <small style="width:24%" class="columnSolicitud"><mat-icon style="color:grey; vertical-align: middle;">location_on</mat-icon>{{element.address}}</small>
                    <p style="width:17%" class="columnSolicitud"><mat-icon style="color:grey; vertical-align: middle;">person</mat-icon>{{element.user}}</p>
                    <p style="width:18%" class="columnSolicitud">
                        <button mat-raised-button (click)="changeService(element.id,'accepted')" style="border:0.5px solid darkgreen; background-color: #e9ffe9"><mat-icon style="color:darkgreen">done</mat-icon></button>
                        <button mat-raised-button (click)="changeService(element.id,'pending')" style="border:0.5px solid darkred; background-color: #ffebeb"><mat-icon style="color:darkred">close</mat-icon></button>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="lenListServices == 0 && this.checkAcceptMore.value">
            <p style="padding:10%; text-align: center;"> No tienes solicitudes pendientes</p>
        </div>
        <div *ngIf="lenListServices == 0 && !this.checkAcceptMore.value">
            <p style="padding:10%; text-align: center;"> No tienes solicitudes pendientes, ya que de acuerdo con su configuración no acepta más servicios</p>
        </div>
    </mat-card-content>
</mat-card>
